# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments

venv/
env/
.venv/
# IDEs
.idea/

# Databases
*.db
*.sqlite    

# Logs
*.log

# Environment variables
.env